.character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #000;
}

.character-container:hover {
  box-shadow: 0px 4px 8px rgba(152, 206, 76, 0.944);
}
.character-container_title {
  font-size: 20px;
  font-weight: bold;
}
