.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 10%;
  background-color: rgb(151, 206, 76);
}

.nav-container_a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
